<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static '/css/preguntas.css' %}" type="text/css" rel="stylesheet"/>
    <title>Preguntas</title>
</head>
<body>
    <div class="contenedor">
        <div class="titulo">
            Preguntas
        </div>
        <div class="intrucciones">
            Seleccione la opción correcta
        </div>
        <div class="contenedorp" id="contenedorp">
            <div class="pregunta" id="pregunta">

            </div>
            <div class="opciones" id="opciones">
                
            </div>
            <div class="button" id="button" onclick="boton()">
                Siguiente
            </div>
        </div>
    </div>
</body>
{% load static %}
<script src="{% static '/scripts/preguntas.js' %}"></script>
</html>